<!DOCTYPE html>
<html ng-app="rest-client" ng-controller="UserController as userCtrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Administration</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon"
          type="image/png"
          href="main-icon.png">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="dist/css/font-awesome.min.css">
    <link rel="stylesheet" href="dist/css/ionicons.min.css">
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="dist/css/skins/skin-blue.min.css">
    <link rel="stylesheet" href="dist/css/customStyle.css">
    <link rel="stylesheet" href="dist/css/fullcalendar.min.css">
    <link rel="stylesheet" href="dist/css/fullcalendar.print.css"
          media='print'>
    <!--[if lt IE 9]>
    <script src="plugins/html5shiv.min.js"></script>
    <script src="plugins/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-controller="AppointmentController as appCtrl">
<div class="wrapper">

    <header class="main-header">
        <a href="#" class="logo" style="background: white;">
            <span class="logo-mini"><img width="100%" src="dist/img/logo_large.png"/></span>
            <span class="logo-lg"><img width="100%" src="dist/img/logo_large.png"/></span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Client Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img ng-src="{{userCtrl.cstantPicture}}" class="user-image" alt="Client Image">
                            <span class="hidden-xs">{{userCtrl.currentUser.username}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- Client image -->
                            <li class="user-header">
                                <img ng-src="{{userCtrl.cstantPicture}}" class="img-circle" alt="Client Image">

                                <p>
                                    {{userCtrl.currentUser.username}}
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="profile.html" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a ng-href="{{userCtrl.appURL + 'logout'}}" class="btn btn-default btn-flat">Sign
                                        out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search by Username..."
                           ng-model="activeUser">
                    <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
                </div>
            </form>
            <ul class="sidebar-menu">
                <li class="header">Dashboard</li>

                <li class="active"><a href="agenda.html"><i class="glyphicon glyphicon-asterisk"></i>
                    <span>Agenda</span></a></li>
                <li><a href="fiches.html"><i class="glyphicon glyphicon-gift"></i> <span>Fiches</span></a></li>

            </ul>
        </section>
    </aside>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>Planning</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Administration</a></li>
                <li class="active">Planning</li>
            </ol>
        </section>
        <section class="content">
            <div calendar id="calendar"></div>
        </section>
    </div>

    <footer class="main-footer">
        <strong>Copyright &copy; 2017 <a href="#">Medlab</a>.</strong>
    </footer>

</div>

<!-- Context event menu Popover -->
<div id="contextMenu" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu"
        style="display:block;position:static;margin-bottom:5px;">
        <li><a id="context-info-btn" tabindex="-1" href="#">Voir Infos</a></li>
        <li><a id="context-modify-btn" tabindex="-1" href="#">Modifier</a></li>
        <li><a id="context-delete-btn" tabindex="-1" href="#">Supprimer</a></li>
        <li class="divider" style="margin: 2px 0;"></li>
        <li><a id="context-close-btn" tabindex="-1" href="#">Fermer</a></li>
    </ul>
</div>

<div id="showAppointmentModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span
                        class="sr-only">close</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<div id="addAppointmentModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="background: rgb(250, 250, 250)">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Créer un Rendez-vous</h4>
            </div>
            <div class="modal-body" ng-controller="CardController as cardCtrl">
                <div class="form-group form-group-sm">
                    <br>
                    <label class="col-sm-2 control-label">Client : </label>

                    <div class="col-sm-8">
                        <select style="width: 50%;" ng-model="appCtrl.appointment.card"
                                ng-options="card as card.firstname + card.lastname for card in cardCtrl.cards">
                        </select>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <br>
                    <label class="col-sm-2 control-label">Moniteur : </label>

                    <div class="col-sm-8">
                        <select style="width: 50%;" ng-model="appCtrl.appointment.monitor"
                                ng-options="user.username for user in userCtrl.monitors">
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="appCtrl.reset();">Annuler
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        ng-click="appCtrl.submit(appCtrl.appointment);">Ajouter
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<script src="plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="dist/js/app.min.js"></script>
<script src="plugins/angular.min.js"></script>
<script src="plugins/moment.js"></script>
<script src="plugins/fullcalendar.js"></script>
<script src="plugins/locale-all.js"></script>
<script src="dist/js/modules/rest-client.js"></script>
<script src="plugins/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
<script src="plugins/ng-file-upload.min.js"></script>
<script src="dist/js/modules/login.js"></script>
<script src="dist/js/modules/appointments.js"></script>
<script src="dist/js/modules/cards.js"></script>
<script src="dist/js/services/users_service.js"></script>
<script src="dist/js/services/common_service.js"></script>
<script src="dist/js/services/appointments_service.js"></script>
<script src="dist/js/services/cards_service.js"></script>
<script src="dist/js/modules/users.js"></script>
<script src="dist/js/filters/usersByUsername.js"></script>
<script src="dist/js/filters/objectsById.js"></script>
<script src="dist/js/directives/agenda.js"></script>

</body>
</html>
