<!DOCTYPE html>
<html ng-app="rest-client" ng-controller="UserController as userCtrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Administration</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, card-scalable=no" name="viewport">
    <link rel="icon"
          type="image/png"
          href="main-icon.png">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="dist/css/font-awesome.min.css">
    <link rel="stylesheet" href="dist/css/ionicons.min.css">
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="dist/css/skins/skin-blue.min.css">
    <link rel="stylesheet" href="dist/css/customStyle.css">
    <link rel="stylesheet" href="dist/css/fullcalendar.min.css">
    <link rel="stylesheet" href="dist/css/fullcalendar.print.css"
          media='print'>
    <!--[if lt IE 9]>
    <script src="plugins/html5shiv.min.js"></script>
    <script src="plugins/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-controller="CardController as ctrl">
<div class="wrapper">

    <header class="main-header">
        <a href="#" class="logo" style="background: white;">
            <span class="logo-mini"><img width="100%" src="dist/img/logo_large.png"/></span>
            <span class="logo-lg"><img width="100%" src="dist/img/logo_large.png"/></span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Client Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img ng-src="{{userCtrl.cstantPicture}}" class="user-image" alt="Client Image">
                            <span class="hidden-xs">{{userCtrl.currentUser.username}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- Client image -->
                            <li class="user-header">
                                <img ng-src="{{userCtrl.cstantPicture}}" class="img-circle" alt="Client Image">

                                <p>
                                    {{userCtrl.currentUser.username}}
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="profile.html" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a ng-href="{{userCtrl.appURL + 'logout'}}" class="btn btn-default btn-flat">Sign
                                        out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search by Username..."
                           ng-model="activeUser">
                    <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
                </div>
            </form>
            <ul class="sidebar-menu">
                <li class="header">Dashboard</li>
                <li><a href="agenda.html"><i class="glyphicon glyphicon-asterisk"></i> <span>Agenda</span></a></li>
                <li class="active"><a href="fiches.html"><i class="glyphicon glyphicon-gift"></i> <span>Fiches</span></a></li>
            </ul>
        </section>
    </aside>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>FICHES</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Administration</a></li>
                <li class="active">Fiches</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Fiches Data</h3>
                        </div>
                        <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>N° Contrat</th>
                                    <th>Nom</th>
                                    <th>CIN</th>
                                    <th>Type</th>
                                    <th>Telephone</th>
                                    <th>Adresse</th>
                                    <th>Date de naissance</th>
                                    <th>Email</th>
                                    <th>
                                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal"
                                                data-target="#addModal" ng-click="ctrl.setAddMode()"><i
                                                class="glyphicon glyphicon-plus"></i>
                                        </button>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="card in ctrl.cards | objectsById:activeCard">
                                    <td ng-bind="card.contractId"></td>
                                    <td ng-bind="card.firstname"></td>
                                    <td ng-bind="card.cin"></td>
                                    <td ng-bind="card.type"></td>
                                    <td ng-bind="card.phone"></td>
                                    <td ng-bind="card.address"></td>
                                    <td ng-bind="card.dateOfBirth"></td>
                                    <td ng-bind="card.email"></td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-xs"><i
                                                class="glyphicon glyphicon-pencil" ng-click="ctrl.populateModal(card)"
                                                data-target="#addModal" data-toggle="modal"></i></button>
                                        <button type="button" class="btn btn-primary btn-xs"><i
                                                class="glyphicon glyphicon-remove"
                                                ng-click="ctrl.deleteCard(card.contractId)"></i></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer class="main-footer">
        <strong>Copyright &copy; 2017 <a href="#">Medlab</a>.</strong>
    </footer>

</div>


<!-- Add/Update Fiche Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h4><strong>Information Fiche</strong></h4>

                <form name="form1" class="form-horizontal col-sm-6 mod_form">
                    <br>
                    <!--contractId-->
                    <div class="form-group form-group-sm">
                        <label for="inputName" class="col-sm-3 control-label">N° contrat</label>

                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="card" id="inputName"
                                   ng-model="ctrl.card.contractId"
                                   ng-disabled="updateMode === 1" required>
                            <span style="color:red">
                                <span ng-show="form1.card.$error.required">Obligatoire</span>
                            </span>
                        </div>
                    </div>
                    <!--firstname-->
                    <div class="form-group form-group-sm">
                        <label for="inputFirstname" class="col-sm-3 control-label">Prénom</label>

                        <div class="col-sm-8">
                            <input class="form-control" type="text" id="inputFirstname" ng-model="ctrl.card.firstname">
                        </div>
                    </div>
                    <!--lastname-->
                    <div class="form-group form-group-sm">
                        <label for="inputLastname" class="col-sm-3 control-label">Nom</label>

                        <div class="col-sm-8">
                            <input class="form-control" type="text" id="inputLastname" ng-model="ctrl.card.lastname">
                        </div>
                    </div>
                    <!--CIN-->
                    <div class="form-group form-group-sm">
                        <label for="inputCin" class="col-sm-3 control-label">CIN</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="inputCin" ng-model="ctrl.cin">
                        </div>
                    </div>
                    <!--type-->
                    <div class="form-group form-group-sm">
                        <label for="inputType" class="col-sm-3 control-label">Type</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="inputType" ng-model="ctrl.type">
                        </div>
                    </div>
                    <!--phone-->
                    <div class="form-group form-group-sm">
                        <label for="inputPhone" class="col-sm-3 control-label">Telephone</label>

                        <div class="col-sm-8">
                            <input class="form-control" type="text" id="inputPhone" ng-model="ctrl.card.phone">
                        </div>
                    </div>
                </form>
                <form class="form-horizontal col-sm-6 mod_form">
                    <br>
                    <!--address-->
                    <div class="form-group form-group-sm">
                        <label for="inputAddress" class="col-sm-3 control-label">Adresse</label>

                        <div class="col-sm-8">
                            <textarea class="form-control" type="text" id="inputAddress"
                                      ng-model="ctrl.card.address"></textarea>
                        </div>
                    </div>
                    <!--dateOfBirth-->
                    <div class="form-group form-group-sm">
                        <label for="inputDateOfBirth" class="col-sm-3 control-label">D. de naissance</label>

                        <div class="col-sm-8">
                            <input class="form-control" type="date" id="inputDateOfBirth" ng-model="ctrl.card.dateOfBirth">
                        </div>
                    </div>
                    <!--dateOfInscription-->
                    <div class="form-group form-group-sm">
                        <label for="inputDateOfInscription" class="col-sm-3 control-label">D. d'inscription</label>

                        <div class="col-sm-8">
                            <input class="form-control" type="date" id="inputDateOfInscription" ng-model="ctrl.card.dateOfInscription">
                        </div>
                    </div>
                    <!--email-->
                    <div class="form-group form-group-sm">
                        <label for="inputEmail" class="col-sm-3 control-label">Email</label>

                        <div class="col-sm-8">
                            <input class="form-control" type="email" name="email" id="inputEmail"
                                   ng-model="ctrl.card.email">
                            <span style="color:red" ng-show="form1.email.$dirty && form1.email.$invalid">
                                <span ng-show="form1.email.$error.email">Invalid email address.</span>
                            </span>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default col-sm-offset-5" data-dismiss="modal"
                            ng-click="ctrl.reset();">Annuler
                    </button>
                    <button type="button" class="btn btn-primary col-sm-offset-10" data-dismiss="modal"
                            ng-click="ctrl.submit(ctrl.card, updateMode)" ng-disabled="form1.card.$error.required ||
                            form1.email.$invalid || form1.roles.$error.required ||
                            (ctrl.isSuperAdmin && ctrl.isNormalUserOp && form1.manager.$error.required)">Soumettre
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="dist/js/app.min.js"></script>
<script src="plugins/angular.min.js"></script>
<script src="plugins/moment.js"></script>
<script src="plugins/fullcalendar.js"></script>
<script src="plugins/locale-all.js"></script>
<script src="dist/js/modules/rest-client.js"></script>
<script src="plugins/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
<script src="plugins/ng-file-upload.min.js"></script>
<script src="dist/js/modules/login.js"></script>
<script src="dist/js/modules/appointments.js"></script>
<script src="dist/js/modules/cards.js"></script>
<script src="dist/js/services/cards_service.js"></script>
<script src="dist/js/services/common_service.js"></script>
<script src="dist/js/services/appointments_service.js"></script>
<script src="dist/js/services/users_service.js"></script>
<script src="dist/js/modules/users.js"></script>
<script src="dist/js/filters/usersByUsername.js"></script>
<script src="dist/js/filters/objectsById.js"></script>
<script src="dist/js/directives/agenda.js"></script>

</body>
</html>
